@font-face {
    font-family: 'dijkstraregular';
    src: url('fonts/dijkstra-webfont.eot');
    src: url('fonts/dijkstra-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dijkstra-webfont.woff') format('woff'),
         url('fonts/dijkstra-webfont.ttf') format('truetype'),
         url('fonts/dijkstra-webfont.svg#dijkstraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #222233;
}

.title {
  margin-top: 20px;
}

.writings {
  min-height: 200px;
}

.writing a{
  margin: -20px 0 0 50px;
}

h1 {
  font-size: 40pt;
  margin: 0px;
  color: #bbaaaa;

}

.writings h3 {
  color: #DD3333;
  font-family: 'dijkstraregular';
}

h2 {
  color: #bbaaaa;
}

.col-left, .col-right {
  display: inline-block;
  padding: 10px;
  width: 40%;
}

h3 {
  //color: #BBBBBB;
  padding-left: 20px;
}

p, pre {
  width: 400px;
  color: #fff;
  padding-left: 20px;
  line-height: 1.2;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #BBBBBB;
}

a:hover {
  color: #555;
}

a > h3:hover {
  color: #ddd;
}

.prog-lang {
  color: #3333DD;
  font-size: 1.2em;
}
